{% extends "layout.njk" %}
{% block content %}

<main>
    <form class="content-create" method="POST" action="/admin/chefs">
        <div class="header-chef">
            <h1>Criando chef</h1>
            <button class="button">Salvar Chef</button>
        </div>
        {% include 'admin/chefs/fields.njk' %}
    </form>
</main>
{% endblock content %}
