    <h4>Nome</h4>
    <input 
        type="text" 
        name="name" 
        class="input-create" 
        value="{{chef.name}}">
    <h4>Avatar</h4>
    <input 
        type="url"
        name="avatar_url" 
        class="input-create" 
        value="{{chef.avatar_url}}">

    

    