    <h4>Imagem da receita</h4>
    <input 
        type="url"
        name="image" 
        class="input-create" 
        value="{{item.image}}">

    <h4>Título da receita</h4>
    <input 
        type="text" 
        name="title" 
        class="input-create" 
        value="{{item.title}}">

    <h4>Autor da receita</h4>
    <input 
        type="text" 
        name="author" 
        class="input-create" 
        value="{{item.author}}">
    <div id="ingredients">
        <h4>Ingredientes</h4>
        {% if item %}
        {% for ingredient in item.ingredients %}
            <div class="ingredient">
                    <input 
                    type="text" 
                    name="ingredients[]" 
                    value="{{ingredient}}">
            </div>
        {% endfor %}
        {%else%}
            <div class="ingredient">
                    <input 
                    type="text" 
                    name="ingredients[]">
            </div>
        {%endif%}
    <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>
    <div id="preparations">
    
    <h4>Modo de preparo</h4>
    {% if item %}
    {% for preparation in item.preparation %}
        <div class="preparation">
            <input 
                type="text" 
                name="preparations[]" 
                class="input-create" 
                value="{{preparation}}">
        </div>
    {% endfor %}
    {%else%}
        <div class="preparation">
            <input 
                type="text" 
                name="preparations[]" 
                class="input-create">
        </div>
    {% endif %}
    </div>
    <button type="button" class="add-ingredient">Adicionar novo passo</button>

    <h4>Informações adicionais</h4>
    <textarea name="information" id="create-info" cols="30" rows="10">{{item.information}}</textarea>
    <script src="/scripts.js"></script>
