<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Foodfy</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header>
            <img src="/assets/logo.png">
            <div class="menu">
                <a href="/home">Home</a> 
                <a href="/home/about">Sobre</a> 
                <a href="/home/recipes">Receitas</a>
                <a href="/admin/recipes">Admin</a>
                <a href="/admin/chefs">Chefs</a>
            </div>
            </header>
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
            <p>Todos direitos reservados, receitas Foodfy.</p> 
        </footer>
        <script src="/scripts.js"></script>
    </body>
</html>