{% extends "layout.njk" %}
{% block content %}

<main>
    <div class="header-edit">   
        <h1>Editando Chef</h1>
        <button type="submit" form='form-delete'  class="button-delete">Deletar</button>
        <button type="submit" form='form-edit' class="button-edit">Salvar Receita</button>
    </div>
    <form id="form-delete" class="content-create" method="POST" action="/admin/chefs?_method=DELETE">
        <input type="hidden" name="id" value="{{item.id}}">
    </form>
    <form id="form-edit" class="content-create" method="POST" action="/admin/chefs?_method=PUT">
        {% include 'admin/chefs/fields.njk'%}
        <input type="hidden" name="id" value="{{item.id}}" >
    </form>
</main>
{% endblock content %}
