    <h4>Nome</h4>
    <input 
        type="text" 
        name="name" 
        class="input-create" 
        value="{{item.name}}">
    <h4>Avatar</h4>
    <input 
        type="url"
        name="avatar" 
        class="input-create" 
        value="{{item.avatar}}">

    

    