{% extends "layout.njk" %}
{% block content %}

<main>
    <div class="content-index">
        <div class="header header-recipe">
            <h1>Gerenciar Receitas</h1>
            <a href="/admin/recipes/create" class="button">Nova Receita</a>
        </div>
        <div class="cards-admin">
            {% for recipe in recipes %}
            <div class="card-admin">
                <div class="card-img">
                    <img src="{{recipe.image}}" alt="{{recipe.title}}">
                </div>
                <div class="card-details">
                    <h4>{{recipe.title}}</h4>
                    <p>{{recipe.chef_name}}</p>
                    <a href="recipes/{{recipe.id}}">Visualizar</a>
                </div>               
            </div>
            {% endfor %}
            
        </div>
    </div> 
</main>
<div class="pagination"
    data-page={{pagination.page}}
    data-total={{pagination.total}}
    data-filter={{filter}}
    >
</div>
{% endblock content %}
